body {
    background-color: #2ed8ee;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
 
header {
    background-color:rgb(238, 14, 201);
    padding: 0px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    left: 5%;
    height: auto;
}

.marca {
    margin-left: 10px;
    font-family: cursive;
    color: white;
}

.linha-cabeçalho {
    height: 5px;
    background-color: #ffffff;
}

.conteudo-principal {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfil {
    display: flex;
    align-items: center;
}

.imagem-perfil {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.contato {
    font-size: 14px;
    font-weight: bold;
}

.linha-horizontal {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.biografia {
    font-size: 16px;
    line-height: 1.5;
}

.cursos {
    display: flex;
    align-items: center;
}

.imagem-cursos {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.biografia-cursos {
    font-size: 16px;
    line-height: 1.5;
}

.botões {
    margin-top: 20px;
}

.botao-encomendas, .botao-cursos {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.botao-encomendas:hover, .botao-cursos:hover {
    background-color: #2980b9;
}
